<div id="<%= dom_id reservation %>">
  <p>
    <strong>Name:</strong>
    <%= reservation.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= reservation.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= reservation.date %>
  </p>

  <p>
    <strong>Party:</strong>
    <%= reservation.party_size %>
  </p>


  <p>
    <strong>Time:</strong>
    <%= reservation.start_time.strftime("%I:%M %p")%>-<%= reservation.end_time.strftime("%I:%M %p")%>
  </p>

</div>
