<%= search_form_for @q, url: reservations_path, method: :get, html: { class: 'd-flex flex-column' } do |f| %>
  <p class="mb-3">Narrow results:</p>

  <div class="mb-3">
    <%= f.label :name_cont, "Name containing", class: "form-label" %>
    <%= f.text_field :name_cont, placeholder: "Search by name", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :date, "Date", class: "form-label" %>
    <%= f.text_field :date, placeholder: "Enter a date", class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between">
    <%= f.submit 'Search', class: "btn btn-primary" %>
    <%= link_to 'Clear filters', reservations_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>