<div class="card">

  <p style="color: green"><%= notice %></p>

  <div class="card-header">
    <%= link_to "Reservation ##{@reservation.id}", @reservation %>
  </div>

  <div class="card-body">
    <%= render @reservation %>
    <div class="row">
      <div class="col">
        <div class="d-grid">
          <%= link_to edit_reservation_path(@reservation), class: "btn btn-outline-secondary" do  %>
            <i class="fa-regular fa-pen-to-square"></i>
          <% end %>
          <%# TODO %>
          <%# Possible solution? %>
          <%# <button type="button" class="ms-auto btn btn-lg btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#editReservationModal">
            Edit reservation
          </button> %>
        </div>
      </div>
      <div class="col">
        <div class="d-grid">
          <div class="btn btn-outline-secondary">
            <%# TODO  %>
            <%# Since there is no delete/destroy helper route link_to isn't working %>
            <%= button_to "Delete this reservation", @reservation, method: :delete %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-footer">
    Last updated <%= time_ago_in_words(@reservation.updated_at) %> ago
  </div>
</div>

<div class="modal fade" id="editReservationModal" tabindex="-1" aria-labelledby="editReservationModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editReservationModalLabel">Edit Reservation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render 'form', reservation: @reservation || Reservation.edit %>
      </div>
    </div>
  </div>
</div>